* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}





/* header */

.header1 {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    opacity: 0.7;

}

.header2 {
    border: 40px;
    border-color: grey;
    height: 100%;
    background-image: url(1.jpg);   
    background-attachment: initial;
    background-size: cover;
    background-repeat: no-repeat;
}

.header2 {
    height: 115ch;
}

.header {
    color: rgb(255, 255, 255);
    justify-content: space-between;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 25px;
    display: block;
    float: left;
}

.header1 a:hover {
    background-color: rgb(87, 80, 80);
    padding: 14px 16px;
}

.login {
    float: right;
}

.head {
    font: optional;
    justify-content: center;
}












/* body */








/* Menu */

.firstdiv {
    position: fixed;
    top: 65px;
    left: 0;
    width: 30ex;
    height: 33ex;
    border: 3px solid rgb(32, 32, 32);
    background-color: rgb(52, 54, 53);
    text-align: center;
    opacity: 0.4;
    border-radius: 5ex;
}
.firstdiv:hover {
    opacity: 1;
    background: inherit;
}

#FH2 {
    color: rgb(163, 206, 241);
    font-style: oblique;
    
}

.FA {
    color: white;
    text-decoration: none;
    font-style: oblique;
    font-size: 23px;
}
 


/* column */

    .column {
        background-image: url(Westminster.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        float: left;
        padding: 0;
        text-align: center;
    }
 #columnimg {
     width: 100%;
     height: auto;
 }
 .col {
     background: inherit;
     float: left;
     width: 10%;
 }
 .col1 {
    margin-left: 35%;
 }
 .divnews {
      background-color: rgb(100, 99, 99);
}
.col fieldset:hover {
    border: 1px solid rgb(255, 255, 255);
}

.col3 {
    margin-right: 30%;
}

.col4 {
    margin-left: 35%;
}

.column h1






/* Hello Abbosjon */

.header2 {
    margin-top: 0;
}
.HA {
    position: absolute;
    top: 26%;
    left: 4%;
    width: 100%;
    text-align: center;
    font-size: 18px;;
}
 #HAH1 {
     color: rgb(163, 206, 241);
     font-family: "Castellar", sans-serif;
     font-size: 6ex;
 }
 
 #HAP1 {
     position: absolute;
     top: 55%;
     left: -8%;
     width: 100%;
     text-align: center;
     font-family: "Castellar", sans-serif;
     font: bolder;
     font-size: 3ex;
 }

 .HAA {
     text-decoration: none;
    position: absolute;
    top: 75%;
    left: 5%;
    width: 100%;
    text-align: center;
    font-family: "Castellar", sans-serif;
    font: bolder;
    font-size: 1vmax;    
 }

 .HAA {
    margin-left:  42%;
     overflow: hidden;
     color: whitesmoke;
     white-space: normal;
     animation: typing 3s steps(10000) infinite;
     
 }
 @keyframes typing{
     
    0% {
        width: 0ch;
    }
    30% {
        width: 8.5ch;
    }
   
    80% {
        width: 0ch;
    }
    100% {
        width: 0%;
    }

 }

.HAA a {
    text-decoration: none;
}







/* Who We Are */

#wwa1 {
    font-family: sans-serif;
}

.info1 {
    font-size: 23px;
    float: left;
    width: 60%;
}
 
.info2 {
    background-color: grey;
}
.info2 {
    width: 40%;
    height: 15px;
}


#info {
    font-size: 22px;
}

#webster {
    width: 320px;
    height: 210px;
}

h1 {
    font-family: "Algerian", sans-serif;
    font-size: 36px;
}

h3 {
    font-size: 14px;
    font-family: "Algerian", sans-serif;
}

.news {   
    margin: 0;
    font-size: 36px;
    margin-left: 47%;
}

.divwwa {
    margin-top: -30px;
    padding-left: 44.2%;
    background-color: grey;
}

.WWA {
    margin: 4px;
}

#WWAD2 {
    background-color: grey;
    width: 20%;
    height: 100%;
}









/* footer */

.footer {
    padding: 50px;
    background-color: rgb(48, 45, 45);
    
}


/* darkmoder */
/* 

.dark-mode {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
    background: white;
    mix-blend-mode: difference;
}

input[type=checkbox]:checked~.dark-mode {
    opacity: 1;
}

input[type="checkbox"]:checked::after {
    right: 0;
    left: auto;
    background: #52cf71;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    content: 'ON';
}

input[type=checkbox]:checked~label:before {
    content: "Turn off the light";
} */